body {
  margin:0px;
  background-color:rgba(20, 33, 54, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1460px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1604 {
  position:fixed;
  left:0px;
  top:0px;
  width:1460px;
  height:78px;
}
#u1604_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:110px;
  background:inherit;
  background-color:rgba(20, 33, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-16px;
  width:1488px;
  height:110px;
  display:flex;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:0px;
  width:108px;
  height:79px;
  display:flex;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_img.selected {
}
#u1607.selected {
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:26px;
  width:58px;
  height:27px;
  display:flex;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1608_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1608.mouseOver {
}
#u1608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:108px;
  height:79px;
  display:flex;
}
#u1610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1610_img.selected {
}
#u1610.selected {
}
#u1610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:26px;
  width:50px;
  height:27px;
  display:flex;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1611_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1611.mouseOver {
}
#u1611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:79px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:0px;
  width:158px;
  height:79px;
  display:flex;
}
#u1613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1613_img.selected {
}
#u1613.selected {
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:26px;
  width:104px;
  height:27px;
  display:flex;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1614_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1614.mouseOver {
}
#u1614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"KhmerMN-Bold", "Khmer MN Bold", "Khmer MN", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#EF7412;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:13px;
  width:156px;
  height:47px;
  display:flex;
  font-family:"KhmerMN-Bold", "Khmer MN Bold", "Khmer MN", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#EF7412;
}
#u1615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:79px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:121px;
  height:79px;
  display:flex;
}
#u1617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1617_img.selected {
}
#u1617.selected {
}
#u1617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:26px;
  width:67px;
  height:27px;
  display:flex;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1618_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1618.mouseOver {
}
#u1618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:11px;
  width:50px;
  height:50px;
  display:flex;
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:79px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:0px;
  width:95px;
  height:79px;
  display:flex;
}
#u1621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1621_img.selected {
}
#u1621.selected {
}
#u1621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:26px;
  width:43px;
  height:27px;
  display:flex;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1622_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-Bold", "Poppins Bold", "Poppins", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1622.mouseOver {
}
#u1622_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1623 {
  position:fixed;
  right:50px;
  top:0px;
  width:348px;
  height:78px;
}
#u1623_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 116, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:19px;
  width:191px;
  height:40px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 94, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1624.mouseOver {
}
#u1624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:19px;
  width:86px;
  height:40px;
  display:flex;
}
#u1625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1625_img.mouseOver {
}
#u1625.mouseOver {
}
#u1625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1628 {
  position:fixed;
  left:50%;
  margin-left:-205px;
  top:50%;
  margin-top:-171px;
  visibility:hidden;
}
#u1628_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:410px;
  height:342px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1628_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 249, 247, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
  box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:342px;
  display:flex;
}
#u1629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:72px;
  width:382px;
  height:54px;
  display:flex;
}
#u1631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1631_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1631.mouseOver {
}
#u1631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:85px;
  width:27px;
  height:28px;
  display:flex;
}
#u1632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:85px;
  width:175px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1633 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:29px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1634 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1635 {
  position:absolute;
  left:362px;
  top:30px;
}
#u1635_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1635_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
}
#u1637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1637_img.mouseOver {
}
#u1637.mouseOver {
  opacity:0.8;
}
#u1637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:12px;
  height:12px;
  display:flex;
}
#u1638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:138px;
  width:382px;
  height:54px;
  display:flex;
}
#u1639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1639_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639.mouseOver {
}
#u1639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:152px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:151px;
  width:28px;
  height:28px;
  display:flex;
}
#u1641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:204px;
  width:382px;
  height:54px;
  display:flex;
}
#u1642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1642_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642.mouseOver {
}
#u1642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:218px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:218px;
  width:28px;
  height:28px;
  display:flex;
}
#u1644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#EF7412;
  text-align:center;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:274px;
  width:75px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#EF7412;
  text-align:center;
}
#u1645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1628_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:410px;
  height:534px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1628_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 249, 247, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
  box-shadow:0px 0px 5px rgba(242, 242, 242, 0.34901960784313724);
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:534px;
  display:flex;
}
#u1646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:72px;
  width:382px;
  height:54px;
  display:flex;
}
#u1647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1647_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647.mouseOver {
}
#u1647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:85px;
  width:27px;
  height:28px;
  display:flex;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:85px;
  width:175px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:29px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1651 {
  position:absolute;
  left:362px;
  top:30px;
}
#u1651_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  display:flex;
}
#u1653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1653_img.mouseOver {
}
#u1653.mouseOver {
  opacity:0.8;
}
#u1653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:12px;
  height:12px;
  display:flex;
}
#u1654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:138px;
  width:382px;
  height:54px;
  display:flex;
}
#u1655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1655_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655.mouseOver {
}
#u1655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:152px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:151px;
  width:28px;
  height:28px;
  display:flex;
}
#u1657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:204px;
  width:382px;
  height:54px;
  display:flex;
}
#u1658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1658_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658.mouseOver {
}
#u1658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:218px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:218px;
  width:28px;
  height:28px;
  display:flex;
}
#u1660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:270px;
  width:382px;
  height:54px;
  display:flex;
}
#u1661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1661_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661.mouseOver {
}
#u1661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:284px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:284px;
  width:28px;
  height:28px;
  display:flex;
}
#u1663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:336px;
  width:382px;
  height:54px;
  display:flex;
}
#u1664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1664_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 245, 245, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1664.mouseOver {
}
#u1664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:350px;
  width:178px;
  height:26px;
  display:flex;
  font-family:"Poppins-SemiBold", "Poppins SemiBold", "Poppins", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:350px;
  width:28px;
  height:28px;
  display:flex;
}
#u1666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
